@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body
{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', Arial;
	font-size: 16px;
	background-image: url(../images/sights/concertgebouw.jpg);
	background-size: cover;
}

.container
{
	position: relative;
	margin: 0 auto;
	max-width: 720px;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0px 0px 54px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 54px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 54px 0px rgba(0,0,0,0.3);
}

h1
{
	font-size: 1.4em;
}

/* Header onderdelen */
header
{
	position: fixed;
	width: 100%;
	max-width: 720px;
	height:  60px;
	overflow: hidden;
	background-color: #C51A1A;
}

h1.pagetitle
{
	width: calc(100% - 120px);
	margin: 0 auto;
	line-height: 60px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
}

a.pagetitle
{
	text-decoration: none;
}

.buttonback, .buttoninfo
{
	position: absolute;
	top: 0;
	height: 60px;
	width: 60px;
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: 50%;
	transition: opacity 200ms linear;
}

.buttonback:hover, .buttoninfo:hover
{
	opacity: 0.6;
}

.buttonback
{
	left: 0;
	background-image: url(../images/back.png);
}

.buttoninfo
{
	right: 0;
	background-image: url(../images/info.png);
}

/* Navigatie onderdelen */

nav
{
	position: fixed;
	top: 60px;
	height: 50px;
	width: 100%;
	max-width: 720px;
	background-color: black;
}

.pagenav
{
	float: left;
    display: inline-block;
    width: 50%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
    text-decoration: none;
	text-transform: uppercase;
	opacity: 0.6;
	transition: opacity 200ms linear;
}

.pagenav:hover
{
	opacity: 1;
}

.activetab
{
	height: 46px;
	border-bottom: 4px solid white;
	opacity: 1;
}

/* Content Area */

.view
{
    padding-top: 110px;
    width: 100%;
    min-height: calc(100% - 110px);
    background-color: #DDDDDD;
}

/* Cards */

.card
{
	margin: 15px 30px;
	background-color: white;
}

.card:nth-child(3n-1)
{
	margin-top: 60px;
}

/* Error Page */

.errortitle
{
	margin: 15% 0 30px;
	width: 100%;
	font-size: 10em;
	line-height: 1em;
	text-align: center;
}

.errortext
{
	margin: 0 30px;
	font-size: 1em;
	text-align: center;
}

/* Nearby page */


/* Description page */
.detailstitle
{
	width: 100%;
	
}

.detailsimage
{
	
	background-image: url(../images/sights/ concertgebouw.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.detailsdescription
{
	margin: 0 30px;
	font-size: 1em;
}

