Options +FollowSymlinks -MultiViews
RewriteEngine on
 
ErrorDocument 404 /404.php
DirectoryIndex page.php /404.php
 
RewriteRule ^nearby$ page.php?page=nearby [L,NC]
RewriteRule ^details-([^/]*)$ page.php?page=details&id=$1 [L,NC]
 
RewriteRule ^tour$ page.php?page=tour [L,NC]
RewriteRule ^details-tour-([^/]*)$ page.php?page=details-tour&id=$1 [L,NC]
 
RewriteRule ^help$ page.php?page=help [L,NC]